[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tweepy = "*"
neologdn = "*"
sqlalchemy = "*"
pymysql = "*"
mecab-python3 = "*"
click = "*"
emoji = "*"
dataclass-csv = "*"

[dev-packages]

[requires]
python_version = "3.9"
